/* Remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
}

/* Set map, body, and html to 100% of the screen size */
#map,
body,
html {
    height: 100%;
    background-color: #d2f8f8;
}

h3,
p {
    text-align: center;
}

/* Define the legend */
.legend {
    line-height: 18px;
    color: #555;
    background-color: white;
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Define the width, timeline controls, and jumbotron */
.leaflet-bottom.leaflet-left {
    width: 100%;
}

.leaflet-control-container .leaflet-timeline-controls {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.jumbotron {
  text-align: center;
  color: black;
  position: relative;
  background: #d2f8f8;
  width: 100%;
  height: 50%;
  background-size: cover;
  overflow: auto;
}

/* EOF */